body {
  background-color: #07070A;
  color: #07070A;

  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
nav {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
span {
  display: inline-block;
}
.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

nav a {
  border:1px solid transparent;
  display: inline-block;
  border-radius: 0.1em;
  margin: 12px 5px;
  padding: 12px 30px;
  color: white;
  font-size: 32px;
  transition: 200ms;
  border-radius: 5em;
}

nav div{
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 1.5em;
  position: relative;
}

.transition-nav a:hover{
  color: #0d1b2a;
  background: #45caff;
    transform: scale(1.1);
}

nav a ion-icon {
  align-items: center;
  text-align: center;
}


nav .mid-nav a:hover {
  background: #45caff;
  transform: scale(1.1);
}

main{
  display: flex;
}

.main-content{
  display: flexbox;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: rgb(208, 247, 189);
  justify-content: center;
  align-items: center;
}


.ion-icon{
  display: inline;
}

.question{
  color: rgb(105, 209, 53);
}
.main {
  display: flexbox;
  background: linear-gradient(rgb(0, 0, 0),#07070aab) ,url(images/IMAGE.png);
  background-size: cover;
  background-blend-mode: multiply;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
  color: rgb(208, 247, 189);
  justify-content: center;
  align-items: center;
}

.main h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font: inherit;
  font-size: 40px;
}

.main .question {
  color: beige;
  font-size: 22px;
}

.main p a {
  text-decoration: none;
  color: rgb(241, 124, 124);
}
#divide-main-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 700px;
}

.main-projectcontent {
  overflow: hidden;
  display: inline-block;
  /* background-color: rgba(50, 49, 70, 0.753); */

  padding: 25px;
  margin: 50px;
  text-align: center;
}
.main-projectcontent h2 {
  font-size: 22px;
}
.main-projectcontent a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.main-projectcontent a:hover {
  color: rgba(0, 0, 0, 0.568);
}

.main-projectcontent .icon {
  font-size: 40px;
  padding: 0px 12px;
}

.main-projectcontent .icon:hover {
  color: rgba(0, 0, 0, 0.568);
}
.main-projectcontent {
  display: flex;
  justify-content: space-evenly;
}

/* projects css */
.main-projectcontent div {
  background: linear-gradient(#ff1b6b, #45caff);
  height: 320px;
  width: 300px;
  border: 1px solid linear-gradient(rgba(4, 16, 37, 0.658), rgb(33, 33, 43));
  border-radius: 0.8em;
  transition: 280ms;
}

.main-projectcontent div:hover{
  transform: scale(1.06);
  box-shadow: 0 0px 20px #45caff,0 1px 10px rgb(67, 67, 87);
}





/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #ffffff;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #000000;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #000000;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  transform: scale(1.1);
  margin-right: 8px;
}

#footer .footer-top {
  border-top: 1px solid rgb(47, 47, 63);
  border-bottom: 1px solid rgb(47, 47, 63);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #000000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #000507;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer #usefull-links {
  display: flex;
  flex-direction: row;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-linksi {
  padding-right: 2px;
  color: #fcf9f9;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  text-decoration: none;
  color: #ffffffb4;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffffff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: yellow;
}

.special {
  display: inline-block;
  margin-top: 10px;
  color: rgb(224, 7, 7);
}

#xyz {
  color: rgb(204, 27, 27);
}

#super {
  margin-top: 200px;
  width: 1900px;
  background-color: rgb(47, 47, 63);
}

#super {
  text-align: center;
}

h1 {
  text-align: center;
}

.idkp,
.idkend {
  text-align: left;
  font-size: 28px;
}

idkol {
  text-align: left;
}

.copyright {
  border-top: 1px solid rgb(47, 47, 63);
}

p{
  display: flexbox;
  align-items: center;
}

p a{
  text-decoration: none;
  color: rgb(149, 149, 165);
  transition: 100ms;
}

p a:hover{
  color: white;
}
